@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", sans-serif;
}

@keyframes ripple {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.8;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}
.animate-ripple {
  animation: ripple 0.6s ease-out forwards;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.animate-marquee {
  animation: marquee 150s linear infinite;
}
.animate-marquee-text {
  animation: marquee 20s linear infinite;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fade-in-up {
  animation: fadeIn 1s ease-out forwards;
}
